.poly-svg {
  margin-top: 6em;
}
.log-form {
  width: 30em;
  border: 2px solid rgb(105, 94, 202);
  border-radius: 15px;
  padding: 2em;
}
.account {
  margin: 4em 0 4em 0;
  color: grey;
}
.log-form form {
  margin-top: 1em;
}
a:hover {
  cursor: pointer;
  cursor: hand;
}
.initial {
  display: none;
}
.display {
  display: show;
  color: red;
}
